interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000006",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000005","dev":"https://clitest000005.dev.azuresynapse.net","sqlOnDemand":"clitest000005-ondemand.sql.azuresynapse.net","sql":"clitest000005.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-cec4e181-4fbd-4082-8f82-672107490985","privateEndpointConnections":[],"workspaceUID":"8851886d-51b2-480c-9f22-70b98ec6604c","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005","location":"eastus","name":"clitest000005","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"38a3f255-6f82-494c-9e00-98fdd72ea2ff"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/operationStatuses/9d3e8d02-9d92-41cd-95ec-f139f5b4379d?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/operationStatuses/9d3e8d02-9d92-41cd-95ec-f139f5b4379d?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000005","dev":"https://clitest000005.dev.azuresynapse.net","sqlOnDemand":"clitest000005-ondemand.sql.azuresynapse.net","sql":"clitest000005.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-cec4e181-4fbd-4082-8f82-672107490985","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"8851886d-51b2-480c-9f22-70b98ec6604c","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005","location":"eastus","name":"clitest000005","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"38a3f255-6f82-494c-9e00-98fdd72ea2ff"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clitest000005", "type": "Microsoft.Synapse/workspaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/checkNameAvailability?api-version=2021-06-01
  response:
    body:
      string: '{"available":false,"message":"Workspace name clitest000005 is not available","reason":"AlreadyExists","name":"clitest000005"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/firewallRules/allowAll?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/operationStatuses/8a96337f-243c-4bde-99bd-d08319a0b4e7?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/operationResults/8a96337f-243c-4bde-99bd-d08319a0b4e7?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"autoScale": {}, "autoPause": {},
      "sparkEventsFolder": "/events", "nodeCount": 3, "sparkConfigProperties": {"content":
      "spark.executor.memory 4g\nspark.executor.cores 2\nspark.executor.instances
      3\nspark.rpc.message.maxsize 256\nspark.driver.maxResultSize 8g", "filename":
      "sparkconfigfile"}, "sparkVersion": "2.4", "nodeSize": "Medium", "nodeSizeFamily":
      "MemoryOptimized"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/bigDataPools/testpool000003?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2022-03-09T07:49:12.6133333Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sparkConfigProperties":{"configurationType":"File","filename":"sparkconfigfile","content":"spark.executor.memory
        4g\nspark.executor.cores 2\nspark.executor.instances 3\nspark.rpc.message.maxsize
        256\nspark.driver.maxResultSize 8g","time":"2022-03-09T07:49:12.6184584Z"},"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"provisioningState":"Provisioning"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/bigDataPools/testpool000003","name":"testpool000003","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/operationStatuses/4bc84d62-ebb4-41ad-ae5d-e68f361f9c23?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/operationResults/4bc84d62-ebb4-41ad-ae5d-e68f361f9c23?api-version=2021-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/operationStatuses/4bc84d62-ebb4-41ad-ae5d-e68f361f9c23?api-version=2021-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/bigDataPools/testpool000003?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2022-03-09T07:49:12.6133333Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sparkConfigProperties":{"configurationType":"File","filename":"sparkconfigfile","content":"spark.executor.memory
        4g\nspark.executor.cores 2\nspark.executor.instances 3\nspark.rpc.message.maxsize
        256\nspark.driver.maxResultSize 8g","time":"2022-03-09T07:49:12.6184584Z"},"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"lastSucceededTimestamp":"2022-03-09T07:50:18.2133333Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000005/bigDataPools/testpool000003","name":"testpool000003","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clisession000004", "driverMemory": "28g", "driverCores": 4, "executorMemory":
      "28g", "executorCores": 4, "numExecutors": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":null,"idleAt":null,"deadAt":null,"shuttingDownAt":null,"killedAt":null,"recoveringAt":null,"busyAt":null,"errorAt":null,"currentState":"not_started","jobCreationRequest":{"name":"clisession000004","conf":{},"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2}},"name":"clisession000004","workspaceName":"clitest000005","computeName":"testpool000003","sparkPoolName":"testpool000003","submitterName":"v-weishuzhao@microsoft.com","submitterId":"6a33200f-2b27-4fda-8567-b0c70d532441","artifactId":"Livy","jobType":"SparkSession","result":"Uncertain","schedulerInfo":{"submittedAt":"2022-03-09T07:50:45.2834284+00:00","queuedAt":"2022-03-09T07:50:45.7193852+00:00","scheduledAt":null,"endedAt":null,"cancellationRequestedAt":null,"currentState":"Queued"},"pluginInfo":{"preparationStartedAt":null,"resourceAcquisitionStartedAt":null,"submissionStartedAt":null,"monitoringStartedAt":null,"cleanupStartedAt":null,"currentState":"Preparation"},"tags":{},"id":0,"appId":null,"appInfo":null,"state":"not_started","log":null,"registeredSources":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-job-clusterrequested-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-ended-on:
      - ''
      x-ms-job-internal-id:
      - '0'
      x-ms-job-livysubmission-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-queued-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-result:
      - Uncertain
      x-ms-job-scheduled-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-scheduler-state:
      - Queued
      x-ms-job-submitted-by-name:
      - v-weishuzhao@microsoft.com
      x-ms-job-submitted-on:
      - 3/9/2022 7:50:45 AM +00:00
      x-ms-job-type:
      - SparkServiceSession
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions/0?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":"2022-03-09T07:53:46.1418384+00:00","idleAt":"2022-03-09T07:54:22.6179897+00:00","deadAt":null,"shuttingDownAt":null,"killedAt":null,"recoveringAt":null,"busyAt":null,"errorAt":null,"currentState":"idle","jobCreationRequest[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions?detailed=true
  response:
    body:
      string: '{"from":0,"total":1,"sessions":[{"livyInfo":{"notStartedAt":null,"startingAt":"2022-03-09T07:53:46.1418384+00:00","idleAt":"2022-03-09T07:54:22.6179897+00:00","deadAt":null,"shuttingDownAt":null,"killedAt":null,"recoveringAt":null,"busyAt":null,"errorAt":null,"currentState":"idle","jobCreationRequest":{"name":"clisession000004","conf":{},"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2}},"name":"clisession000004","workspaceName":"clitest000005","computeName":"testpool000003","sparkPoolName":"testpool000003","submitterName":"v-weishuzhao@microsoft.com","submitterId":"6a33200f-2b27-4fda-8567-b0c70d532441","artifactId":"Livy","jobType":"SparkSession","result":"Uncertain","schedulerInfo":{"submittedAt":"2022-03-09T07:50:45.2834284+00:00","queuedAt":"2022-03-09T07:50:45.7193852+00:00","scheduledAt":"2022-03-09T07:50:51.7398814+00:00","endedAt":null,"cancellationRequestedAt":null,"currentState":"Scheduled"},"pluginInfo":{"preparationStartedAt":"2022-03-09T07:50:51.7547282+00:00","resourceAcquisitionStartedAt":"2022-03-09T07:50:51.770966+00:00","submissionStartedAt":"2022-03-09T07:53:45.3471918+00:00","monitoringStartedAt":"2022-03-09T07:53:46.1602211+00:00","cleanupStartedAt":null,"currentState":"Monitoring"},"tags":{},"id":0,"appId":"application_1646812325002_0001","appInfo":{"driverLogUrl":"http://vm-69749739:8042/node/containerlogs/container_1646812325002_0001_01_000001/trusted-service-user","sparkUiUrl":"http://vm-69749739:8088/proxy/application_1646812325002_0001/","isSessionTimedOut":"false"},"state":"idle","log":["\t
        queue: default","\t start time: 1646812431304","\t final status: UNDEFINED","\t
        tracking URL: http://vm-69749739:8088/proxy/application_1646812325002_0001/","\t
        user: trusted-service-user","22/03/09 07:53:51 INFO ShutdownHookManager: Shutdown
        hook called","22/03/09 07:53:51 INFO ShutdownHookManager: Deleting directory
        /tmp/spark-0d5de762-e5f5-4946-8499-b2f01fe39807","22/03/09 07:53:51 INFO ShutdownHookManager:
        Deleting directory /tmp/spark-5b926d3d-1c2c-43a7-9879-e77203a40f11","\nstderr:
        ","\nYARN Diagnostics: "],"registeredSources":["default"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions/0/reset-timeout
  response:
    body:
      string: ''
    headers:
      x-ms-response-time-ms:
      - '75'
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "import time\ntime.sleep(10)\nprint(''hello from cli'')", "kind":
      "pyspark"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions/0/statements
  response:
    body:
      string: '{"id":0,"code":"import time\ntime.sleep(10)\nprint(''hello from cli'')","state":"waiting","sourceId":"default","output":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions/0/statements/0
  response:
    body:
      string: '{"id":0,"code":"import time\ntime.sleep(10)\nprint(''hello from cli'')","state":"running","sourceId":"default","output":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions/0/statements
  response:
    body:
      string: '{"total_statements":1,"statements":[{"id":0,"code":"import time\ntime.sleep(10)\nprint(''hello
        from cli'')","state":"running","sourceId":"default","output":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions/0/statements/0/cancel
  response:
    body:
      string: '{"msg":"canceled"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitest000005.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/sessions/0
  response:
    body:
      string: ''
    headers:
      x-ms-response-time-ms:
      - '29'
    status:
      code: 200
      message: OK
[...]
