interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000005",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000004","dev":"https://clitest000004.dev.azuresynapse.net","sqlOnDemand":"clitest000004-ondemand.sql.azuresynapse.net","sql":"clitest000004.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-1f300ab1-9815-48ee-ad9f-07f5cf6dcba3","privateEndpointConnections":[],"workspaceUID":"8ff24769-68b4-41a3-9930-e47302acc460","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004","location":"eastus","name":"clitest000004","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"ec6be730-ac21-4f60-90cd-c23369ba6a8e"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/operationStatuses/a926413a-1ecf-4aae-8f54-44cf83d3e8b2?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/operationStatuses/a926413a-1ecf-4aae-8f54-44cf83d3e8b2?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000004","dev":"https://clitest000004.dev.azuresynapse.net","sqlOnDemand":"clitest000004-ondemand.sql.azuresynapse.net","sql":"clitest000004.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-1f300ab1-9815-48ee-ad9f-07f5cf6dcba3","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"8ff24769-68b4-41a3-9930-e47302acc460","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004","location":"eastus","name":"clitest000004","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"ec6be730-ac21-4f60-90cd-c23369ba6a8e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clitest000004", "type": "Microsoft.Synapse/workspaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/checkNameAvailability?api-version=2021-06-01
  response:
    body:
      string: '{"available":false,"message":"Workspace name clitest000004 is not available","reason":"AlreadyExists","name":"clitest000004"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/firewallRules/allowAll?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/operationStatuses/13d12e74-40ff-48dc-ab71-f7c3650c34d2?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/operationResults/13d12e74-40ff-48dc-ab71-f7c3650c34d2?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"autoScale": {}, "autoPause": {},
      "sparkEventsFolder": "/events", "nodeCount": 3, "sparkConfigProperties": {"content":
      "spark.executor.memory 4g\nspark.executor.cores 2\nspark.executor.instances
      3\nspark.rpc.message.maxsize 256\nspark.driver.maxResultSize 8g", "filename":
      "sparkconfigfile"}, "sparkVersion": "2.4", "nodeSize": "Medium", "nodeSizeFamily":
      "MemoryOptimized"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/bigDataPools/testpool000003?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2022-03-09T07:30:02.8933333Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sparkConfigProperties":{"configurationType":"File","filename":"sparkconfigfile","content":"spark.executor.memory
        4g\nspark.executor.cores 2\nspark.executor.instances 3\nspark.rpc.message.maxsize
        256\nspark.driver.maxResultSize 8g","time":"2022-03-09T07:30:02.896329Z"},"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"provisioningState":"Provisioning"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/bigDataPools/testpool000003","name":"testpool000003","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/operationStatuses/7804b105-8fcf-4682-8d2f-d57de59aaa66?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/operationResults/7804b105-8fcf-4682-8d2f-d57de59aaa66?api-version=2021-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/operationStatuses/7804b105-8fcf-4682-8d2f-d57de59aaa66?api-version=2021-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/bigDataPools/testpool000003?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2022-03-09T07:30:02.8933333Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sparkConfigProperties":{"configurationType":"File","filename":"sparkconfigfile","content":"spark.executor.memory
        4g\nspark.executor.cores 2\nspark.executor.instances 3\nspark.rpc.message.maxsize
        256\nspark.driver.maxResultSize 8g","time":"2022-03-09T07:30:02.896329Z"},"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"lastSucceededTimestamp":"2022-03-09T07:31:02.64Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000004/bigDataPools/testpool000003","name":"testpool000003","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WordCount_Java", "file": "abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/wordcount.jar",
      "className": "WordCount", "args": ["[abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/shakespeare.txt,",
      "abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/result/]"],
      "conf": {"spark.dynamicAllocation.maxExecutors": "18"}, "driverMemory": "56g",
      "driverCores": 8, "executorMemory": "56g", "executorCores": 8, "numExecutors":
      2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/batches?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":null,"runningAt":null,"deadAt":null,"successAt":null,"killedAt":null,"recoveringAt":null,"currentState":"not_started","jobCreationRequest":{"name":"WordCount_Java","file":"abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/wordcount.jar","className":"WordCount","args":["[abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/shakespeare.txt,","abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/result/]"],"conf":{"spark.dynamicAllocation.maxExecutors":"18"},"driverMemory":"56g","driverCores":8,"executorMemory":"56g","executorCores":8,"numExecutors":2}},"name":"WordCount_Java","workspaceName":"clitest000004","computeName":"testpool000003","sparkPoolName":"testpool000003","submitterName":"v-weishuzhao@microsoft.com","submitterId":"6a33200f-2b27-4fda-8567-b0c70d532441","artifactId":"Livy","jobType":"SparkBatch","result":"Uncertain","schedulerInfo":{"submittedAt":"2022-03-09T07:31:05.3242313+00:00","queuedAt":"2022-03-09T07:31:05.5419329+00:00","scheduledAt":null,"endedAt":null,"cancellationRequestedAt":null,"currentState":"Queued"},"pluginInfo":{"preparationStartedAt":null,"resourceAcquisitionStartedAt":null,"submissionStartedAt":null,"monitoringStartedAt":null,"cleanupStartedAt":null,"currentState":"Preparation"},"tags":{},"id":0,"appId":null,"appInfo":null,"state":"not_started","log":null,"registeredSources":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-job-clusterrequested-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-ended-on:
      - ''
      x-ms-job-internal-id:
      - '0'
      x-ms-job-livysubmission-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-queued-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-result:
      - Uncertain
      x-ms-job-scheduled-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-scheduler-state:
      - Queued
      x-ms-job-submitted-by-name:
      - v-weishuzhao@microsoft.com
      x-ms-job-submitted-on:
      - 3/9/2022 7:31:05 AM +00:00
      x-ms-job-type:
      - SparkServiceBatch
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000004.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/batches/0?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":null,"runningAt":null,"deadAt":null,"successAt":null,"killedAt":null,"recoveringAt":null,"currentState":"not_started","jobCreationRequest":{"name":"WordCount_Java","file":"abfss://testfilesystem@adlsgen2account.dfs.core.wind[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000004.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/batches?detailed=true
  response:
    body:
      string: '{"from":0,"total":1,"sessions":[{"livyInfo":{"notStartedAt":null,"startingAt":null,"runningAt":null,"deadAt":null,"successAt":null,"killedAt":null,"recoveringAt":null,"currentState":"not_started","jobCreationRequest":{"name":"WordCount_Java","file":"abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/wordcount.jar","className":"WordCount","args":["[abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/shakespeare.txt,","abfss://testfilesystem@adlsgen2account.dfs.core[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitest000004.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testpool000003/batches/0
  response:
    body:
      string: ''
    headers:
      x-ms-response-time-ms:
      - '31'
    status:
      code: 200
      message: OK
[...]
